@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 15px "Inter", sans-serif;
  background-color: hsl(36deg, 100%, 99%);
}

.container {
  width: 375px;
  margin: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.header {
  width: 345px;
  height: 88px;
  margin: auto;
  position: relative;
}
.header__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo:hover, .header__menu:hover {
  cursor: pointer;
}

.nav-bar {
  display: none;
}

.nav-mobile {
  display: none;
  background-color: hsl(36deg, 100%, 99%);
  position: absolute;
  top: 0;
  right: 0;
  width: 256px;
  height: 100vh;
  z-index: 1;
}
.nav-mobile__icon-close {
  position: relative;
  left: 200px;
  top: 26px;
}
.nav-mobile__icon-close:hover {
  cursor: pointer;
}
.nav-mobile__background {
  display: none;
  position: absolute;
  top: 0;
  left: -15px;
  width: 375px;
  height: 250vmax;
  background-color: hsla(236deg, 13%, 42%, 0.508);
}
.nav-mobile__nav-bar {
  margin-top: 96px;
  padding-left: 20px;
  height: 217px;
}
.nav-mobile__items {
  list-style: none;
}
.nav-mobile__item {
  font-size: 18px;
  color: hsl(240deg, 100%, 5%);
  text-decoration: none;
  font-weight: 400;
  line-height: 45px;
}
.nav-mobile__item:hover {
  color: hsl(35deg, 77%, 62%);
}

.main-container {
  width: 345px;
  margin: auto;
}
.main-container__principal {
  height: 700px;
  display: flex;
  flex-direction: column;
}
.main-container__image {
  height: 300px;
  background-image: url(../assets/images/programmer-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.main-container__secondary {
  width: 343px;
  margin: auto;
  padding: 30px 20px;
  background-color: hsl(240deg, 100%, 5%);
}
.main-container__title {
  line-height: 0.8;
  font-size: 32px;
  color: hsl(35deg, 77%, 62%);
  margin-bottom: 40px;
}
.main-container__subtitle {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0%;
  color: hsl(36deg, 100%, 99%);
}
.main-container__subtitle:hover {
  cursor: pointer;
  color: hsl(35deg, 77%, 62%);
}
.main-container__description {
  width: 292px;
  height: auto;
  line-height: 24px;
  color: hsl(233deg, 8%, 79%);
  padding-bottom: 25px;
}

.border-bottom {
  border-bottom: 1px solid hsl(236deg, 13%, 42%);
  margin-bottom: 30px;
}

.details__title {
  width: 286px;
  margin-top: 22px;
  color: hsla(236deg, 13%, 42%, 0.508);
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0.01em;
}
.details__description {
  font-size: 1.1rem;
  text-align: justify;
  letter-spacing: 1px;
  width: 334px;
  line-height: 26px;
}
.details__description span {
  color: hsl(236deg, 13%, 42%);
  font-weight: 800;
}
.details__button, .contact .form__btn-submit {
  display: grid;
  align-content: center;
  text-align: center;
  width: 185px;
  height: 48px;
  margin-top: 24px;
  background-color: hsl(5deg, 85%, 63%);
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  color: hsl(36deg, 100%, 99%);
  font-weight: 700;
  letter-spacing: 3px;
}
.details__button:hover, .contact .form__btn-submit:hover {
  cursor: pointer;
  background-color: hsl(240deg, 100%, 5%);
}

.aside {
  width: 343px;
  margin: 64px auto 80px;
}
.aside__title, .contact__title {
  margin-bottom: 30px;
  color: hsl(36deg, 100%, 99%);
  background: linear-gradient(to right, hsl(240deg, 100%, 5%), hsl(36deg, 100%, 99%));
  font-size: 32px;
  text-align: center;
}

.card {
  display: flex;
  margin-bottom: 34px;
  height: auto;
}
.card__image {
  height: 180px;
}
.card__details {
  width: auto;
  padding-left: 24px;
}
.card__number {
  margin-top: 4px;
  color: hsl(233deg, 8%, 79%);
  font-size: 32px;
  line-height: 0.8;
  font-weight: 700;
}
.card__title {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  color: hsl(236deg, 13%, 42%);
}
.card__title:hover {
  cursor: pointer;
  color: hsl(5deg, 85%, 63%);
}
.card__description {
  line-height: 25.5px;
  margin-top: 8px;
  text-align: justify;
  font-size: 13px;
}

.contact .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact .form__label-name, .contact .form__label-menssage, .contact .form__label-email {
  font-weight: 700;
  color: hsl(236deg, 13%, 42%);
}
.contact .form__input-name, .contact .form__menssage, .contact .form__input-email {
  background-color: hsla(255deg, 8%, 79%, 0.15);
  padding-left: 10px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid hsl(233deg, 8%, 79%);
  outline: none;
}
.contact .form__input-name:hover, .contact .form__menssage:hover, .contact .form__input-email:hover {
  border: 1px solid hsl(236deg, 13%, 42%);
}
.contact .form__input-name::placeholder, .contact .form__menssage::placeholder, .contact .form__input-email::placeholder {
  color: hsl(233deg, 8%, 79%);
}
.contact .form__menssage {
  min-height: 90px;
  padding: 10px;
  resize: none;
}
.contact .form__btn-submit {
  background-color: hsl(35deg, 77%, 62%);
  margin: 15px auto;
}

@media (min-width: 1440px) {
  .container {
    width: 1110px;
    height: 1024px;
    margin: 10px auto 0;
  }
  .header {
    width: 100%;
    height: 40px;
    padding-top: 0;
  }
  .header__menu {
    display: none;
  }
  .nav-bar {
    display: block;
    position: relative;
    top: -30px;
  }
  .nav-bar__items {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  .nav-bar__item {
    font-size: 16px;
    text-decoration: none;
    padding-left: 40px;
    color: hsl(236deg, 13%, 42%);
  }
  .nav-bar__item:hover {
    color: hsl(35deg, 77%, 62%);
  }
  .main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 54px;
  }
  .main-container__principal {
    width: 730px;
    height: 511px;
    flex-direction: column;
    margin-right: 30px;
  }
  .main-container__image {
    background-image: url("../assets/images/programmer.jpg");
    background-position: center;
    width: 100%;
    height: 300px;
  }
  .main-container__secondary {
    width: 350px;
    min-height: 512px;
  }
  .details {
    display: flex;
    flex-direction: row;
  }
  .details__title {
    width: 400px;
    height: 210px;
    padding-right: 85px;
    padding-top: 10px;
    font-size: 55px;
    line-height: 58.86px;
  }
  .details__more-details {
    width: 350px;
    display: flex;
    flex-direction: column;
  }
  .details__description {
    padding-top: 10px;
    height: auto;
  }
  .aside {
    width: 100%;
  }
  .cards {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 50px;
  }
  .card {
    height: 130px;
  }
  .card__image {
    height: 200px;
  }
  .contact__title {
    width: 50%;
    margin: auto;
  }
  .contact .form {
    margin: 40px auto;
    width: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
